.hero-section2 {
  background-color: #fff;
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
  height: 500px;
}

.hero-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: linear-gradient(to right, #fff 50%, #00a651 50%);
  height: 100%;
  border: solid lightgreen;
  border-radius: 23px
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 32px;
  color: #222;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-highlight {
  display: block;
  color: #00a651;
}

.hero-search {
  display: flex;
  max-width: 400px;
  margin-top: 30px;
}

.hero-search-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
}

.hero-search-btn {
  background-color: #2d5d46;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 0 25px 25px 0;
  font-weight: 500;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: 80%;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    background: linear-gradient(to bottom, #fff 60%, #00a651 40%);
    padding: 20px;
  }

  .hero-text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .hero-image {
    width: 100%;
  }

  .hero-title {
    font-size: 28px;
  }
}
