.partners-section {
  margin: 40px 0;
}

.partners-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.partner-card {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  height: 280px;
}

.restaurant-partner {
  background-image: url('./17.png');
}

.rider-partner {
  background-image: url('./21.webp');
}

.partner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
}

.partner-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.partner-btn {
  background-color: #00a651;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.partner-btn:hover {
  background-color: #008c44;
}

@media (max-width: 768px) {
  .partners-cards {
    grid-template-columns: 1fr;
  }

  .partner-card {
    height: 180px;
  }
}
