.resto-manager {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .resto-manager .overlap-group-wrapper {
    background-color: #ffffff;
    height: 2019px;
    overflow: hidden;
    width: 1800px;
  }
  
  .resto-manager .overlap-group {
    background-color: #f8f9fd;
    height: 3000px;
    position: relative;
  }
  
  .resto-manager .overlap {
    background-color: #ffffff;
    border-color: #e5e5e5;
    border-right-style: solid;
    border-right-width: 0.58px;
    height: 3000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 153px;
  }
  
  .resto-manager .element {
    height: 68px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 79px;
  }
  
  .resto-manager .text-wrapper {
    color: #ffa500;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 117px;
    white-space: nowrap;
  }
  
  .resto-manager .div {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 196px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-2 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 274px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-3 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 353px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-4 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 431px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-5 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 510px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-6 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 588px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-7 {
    color: #666666;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    top: 667px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-8 {
    color: #1a1a1a;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 185px;
    letter-spacing: 0;
    line-height: 60px;
    position: absolute;
    top: 31px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-9 {
    color: #666666;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 415px;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 47px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-2 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:
      0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 2px 8px #0000001a;
    height: 54px;
    left: 1661px;
    position: absolute;
    top: 35px;
    width: 51px;
  }
  
  .resto-manager .rectangle {
    background-color: #4318d1;
    border-radius: 19451800px;
    height: 8px;
    left: 35px;
    position: absolute;
    top: 8px;
    width: 8px;
  }
  
  .resto-manager .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 11px;
    white-space: nowrap;
  }
  
  .resto-manager .img {
    height: 40px;
    left: 1728px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 40px;
  }
  
  .resto-manager .overlap-3 {
    background-color: #ffa5000d;
    border-radius: 16px;
    height: 414px;
    left: 185px;
    position: absolute;
    top: 124px;
    width: 378px;
  }
  
  .resto-manager .div-wrapper {
    background-color: #634aff0d;
    border-radius: 19451800px;
    height: 45px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 45px;
  }
  
  .resto-manager .text-wrapper-11 {
    color: #634aff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-12 {
    color: #11181c;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 24px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 84px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-13 {
    color: #11181c;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 24px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 108px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-14 {
    color: #6b7280;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 144px;
    white-space: nowrap;
  }
  
  .resto-manager .element-2 {
    height: 120px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 193px;
    width: 313px;
  }
  
  .resto-manager .overlap-4 {
    background-color: #ffa500;
    border-radius: 8px;
    height: 37px;
    left: 24px;
    position: absolute;
    top: 329px;
    width: 85px;
  }
  
  .resto-manager .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 16px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 7px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-5 {
    background-color: #ffa5000d;
    border-radius: 16px;
    height: 414px;
    left: 587px;
    position: absolute;
    top: 124px;
    width: 378px;
  }
  
  .resto-manager .text-wrapper-16 {
    color: #634aff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 4px;
    white-space: nowrap;
  }
  
  .resto-manager .element-3 {
    height: 120px;
    left: 24px;
    position: absolute;
    top: 193px;
    width: 313px;
  }
  
  .resto-manager .overlap-6 {
    background-color: #ffa5000d;
    border-radius: 16px;
    height: 414px;
    left: 988px;
    position: absolute;
    top: 124px;
    width: 378px;
  }
  
  .resto-manager .text-wrapper-17 {
    color: #634aff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
  }
  
  .resto-manager .p {
    color: #6b7280;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 146px;
    width: 280px;
  }
  
  .resto-manager .element-4 {
    height: 120px;
    left: 24px;
    position: absolute;
    top: 217px;
    width: 313px;
  }
  
  .resto-manager .overlap-7 {
    background-color: #ffa500;
    border-radius: 8px;
    height: 37px;
    left: 24px;
    position: absolute;
    top: 353px;
    width: 69px;
  }
  
  .resto-manager .overlap-8 {
    background-color: #ffa5000d;
    border-radius: 16px;
    height: 414px;
    left: 1390px;
    position: absolute;
    top: 124px;
    width: 378px;
  }
  
  .resto-manager .overlap-9 {
    background-color: #ffa500;
    border-radius: 8px;
    height: 37px;
    left: 24px;
    position: absolute;
    top: 329px;
    width: 77px;
  }
  
  .resto-manager .text-wrapper-18 {
    color: #11181c;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 185px;
    letter-spacing: 0;
    line-height: 42px;
    position: absolute;
    top: 569px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-10 {
    height: 43px;
    left: 185px;
    position: absolute;
    top: 635px;
    width: 1583px;
  }
  
  .resto-manager .rectangle-2 {
    border-bottom-style: solid;
    border-bottom-width: 0.58px;
    border-color: #000000;
    height: 42px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1583px;
  }
  
  .resto-manager .rectangle-3 {
    border-bottom-style: solid;
    border-bottom-width: 1.74px;
    border-color: #111827;
    height: 26px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 75px;
  }
  
  .resto-manager .text-wrapper-19 {
    color: #111827;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-20 {
    color: #7c7c7c;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 99px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-21 {
    color: #7c7c7c;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 178px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-22 {
    color: #7c7c7c;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 262px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-11 {
    background-color: #f8f8f7;
    border-radius: 12px;
    height: 48px;
    left: 185px;
    position: absolute;
    top: 702px;
    width: 300px;
  }
  
  .resto-manager .text-wrapper-23 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-24 {
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-12 {
    border-bottom-style: solid;
    border-bottom-width: 0.58px;
    border-color: #000000;
    height: 89px;
    left: 185px;
    position: absolute;
    top: 774px;
    width: 1583px;
  }
  
  .resto-manager .text-wrapper-25 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: -1px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-26 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 56px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
  .resto-manager .IMAGE {
    height: 40px;
    left: 116px;
    position: absolute;
    top: 23px;
    width: 60px;
  }
  
  .resto-manager .text-wrapper-27 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 200px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-28 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1152px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-29 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1236px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-30 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1320px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-31 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1575px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-13 {
    background-color: #ffa500;
    border-radius: 8px;
    height: 37px;
    left: 1473px;
    position: absolute;
    top: 26px;
    width: 77px;
  }
  
  .resto-manager .text-wrapper-32 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 15px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
  }
  
  .resto-manager .today-s-reservations {
    color: #11181c;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 185px;
    letter-spacing: 0;
    line-height: 42px;
    position: absolute;
    top: 893px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-14 {
    border-bottom-style: solid;
    border-bottom-width: 0.58px;
    border-color: #000000;
    height: 94px;
    left: 185px;
    position: absolute;
    top: 961px;
    width: 1583px;
  }
  
  .resto-manager .text-wrapper-33 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: -1px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 26px;
    white-space: nowrap;
  }
  
  .resto-manager .element-5 {
    height: 40px;
    left: 56px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 40px;
  }
  
  .resto-manager .overlap-15 {
    height: 48px;
    left: 121px;
    position: absolute;
    top: 22px;
    width: 198px;
  }
  
  .resto-manager .text-wrapper-34 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
  }
  
  .resto-manager .text-wrapper-35 {
    color: #666666;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-36 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1388px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-37 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1492px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 26px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-38 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1549px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 26px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-39 {
    color: #11181c;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 185px;
    letter-spacing: 0;
    line-height: 42px;
    position: absolute;
    top: 1085px;
    white-space: nowrap;
  }
  
  .resto-manager .overlap-16 {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow:
      0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 4px 12px #0000001a;
    height: 209px;
    left: 185px;
    position: absolute;
    top: 1152px;
    width: 378px;
  }
  
  .resto-manager .element-6 {
    height: 60px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 60px;
  }
  
  .resto-manager .text-wrapper-40 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 24px;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 99px;
    white-space: nowrap;
  }
  
  .resto-manager .text-wrapper-41 {
    color: #666666;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 126px;
    white-space: nowrap;
  }
  
  .resto-manager .rectangle-4 {
    background-color: #44ff44;
    border-radius: 19451800px;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 171px;
    width: 8px;
  }
  
  .resto-manager .text-wrapper-42 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 163px;
    white-space: nowrap;
  }
  