* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f9f9f9;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  padding-bottom: 50px;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}
